.vscode

build*
dist

.coverage
test_report
test_report.tgz
*.ppt
*.pptx
*.ipynb

__pycache__

.venv*
vizzu_dev*
.pdm-python

placeholder-plugin.yaml
docs/examples/**/*.png
docs/examples/**/*.mp4
docs/examples/**/*.webm
docs/assets/dist
docs/readme
docs/showcases
site
node_modules
tmp

.DS_Store
release
*.lib
*.user
*.wasm
*.data
*.wast
*.map
*.o
*.gz
*.a
git.cpp
cvizzu.js
presets.yaml
Makefile
/index.html
