.vscode

build*
dist

.coverage
test_report

__pycache__

.venv
.pdm-python

docs/readme
docs/showcases
site
node_modules
tmp

.DS_Store
release
*.lib
*.user
*.wasm
*.data
*.wast
*.map
*.o
*.gz
*.a
git.cpp
cvizzu.js
presets.yaml
package-lock.json
Makefile
/index.html
