@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
	background-color: #fafafa;
	color: #666;
	font-family: Roboto;
}

#vizzuCanvas {
	border: 1px solid #dadada;
}

#code {
	padding-top: 3em;
	font-size: 13px;
}

.button {
	border: none;
	padding: 0.5em 0.9em 0.5em 0.9em;
	border-radius: 0.2em;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}

#vizzuCanvas {
	width: 680px; 
	height: 446px;
}

#navigation {
	width: 680px;
	text-align: center;
}

#example-replay-btn {
	margin: auto;
	margin-top: 1em;
	background-color: #fafafa;
	color: #aaa;
}

#example-replay-btn:hover {
	background-color: #ffffff;
	color: #666;
	filter: drop-shadow(0px 2px 3px #eee);
	transition: 200ms;
}
