#page-1 {
	background-color: #fafafa;
	display: none;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#examples-header {
	background-color: #fafafa;
	position: sticky;
	top: 0px;
	padding-bottom: 10px;
	filter: drop-shadow(0 4px 4px #fafafa);
}

#examples-title {
	color: #666;
	font-weight: 100;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 25px;
	padding: 0;
	display: inline-block;
}

.examples {
	display: flex;
	flex-wrap: wrap;
	padding: 40px 60px 0px;
	box-sizing: border-box;
	max-width: 1250px;
}

.example {
	margin: 20px;
	cursor: pointer;
	outline: none;
	z-index: 1;
}

.example:focus {
	filter: drop-shadow(0px 2px 3px #dadada);
}

.thumbnail {
	border: 1px solid #ddd;
	background-color: #ffffff;
}

.thumbnail:focus,
.thumbnail:hover {
	border-color: #aaa;
}

#example-view {
	display: none;
	max-width: 1250px;
	width: 100%;
	padding-top: 60px;
	padding-left: 100px;
	z-index: 1;
}

#example-frame {
	border: 0px;
	width: 100vw;
	height: 100%;
}

#example-back-btn {
	background-color: #0095d2;
	color: white;
	display: none;
	margin-left: 5em;
}

#example-back-btn:hover {
	filter: drop-shadow(0px 2px 3px #27181240);
	transition: 200ms;
}
