.hljs {
	background-color: #f9f9fb00 !important;
}

.hljs-title {
	color: #f4941b !important;
}

.hljs-property,
.hljs-attr {
	color: #4171cd !important;
}

.hljs-literal {
	color: #03ae71 !important;
}

.hljs-string {
	color: #f25456 !important;
}

.hljs-number {
	color: #f25456 !important;
}

.hljs-built_in,
.hljs-keyword {
	color: #03ae71 !important;
}

/*
4171cd
03ae71
f4941b
f4c204
d49664
*/