.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 240px 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"toc-view example-view"
		"toc-view content-view";
}

#toc-view { grid-area: toc-view; }
#example-view { grid-area: example-view; }
#content-view {
	overflow-y: scroll;
	overflow-x: hidden;
	grid-area: content-view;
	scroll-behavior: smooth;
}
