.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"toc-view content-view";
}

#toc-view { grid-area: toc-view; }
#content-view {
	overflow-y: scroll;
	overflow-x: hidden;
	grid-area: content-view;
}
