@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
	font-family: Roboto;
	margin: 0px;
	height: 100vh;
	overflow: hidden;
}

#toc-view {
	background-color: #333;
	padding: 15px 30px 15px;
	z-index: 1;
}

#example-view {
	background-color: #fff;
/*	filter: drop-shadow(0px 0px 6px #eee);
	z-index: -1;
*/}

.menuitem, 
.submenuitem {
	list-style-type: none;
	color: #aaa;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: 15px;
	cursor: pointer;
}

.submenuitem:hover {
	color: #fff;
}

.submenuitem-selected {
	color: #fff !important;
}

.submenu {
	padding-inline-start: 0px;
}

.subtitle {
	padding-top: 1.2em;
	padding-left: 0.5em;
	color: #666;
	font-weight: 100;
	font-size: 25px;
}

.subsection {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 5px;
	scroll-snap-align: start;
	border-right: 6px solid #e0e0e0;
}

.snippet {
	background-color: #fafafa;
	color: #666;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: .5em;
	padding-left: 1em;
	padding-right: 1em;
}

.snippet-selected {
	background-color: #fafaff !important;
	transition: 0.3s;
	cursor: default;
}

.subsection-selected {
	border-right-color: #4171cd !important;
	background-color: #fafaff;
	transition: 0.2s;
}

.paragraph {
	color: #666;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5em;
	padding-top: .8em;
	padding-left: 1em;
	padding-right: 1em;
}

#table-of-contents {
	padding-top: 15px;
	padding-inline-start: 0px;
}

#example-canvas {
	width: 480px;
	height: 240px;
}

#content {
	padding: 0px 1px 500px 1px;
	width: 650px;
}

#content-view {
	outline: none !important;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
