@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
	font-family: Roboto;
	margin: 0px;
	height: 100vh;
	overflow: hidden;
	color: #666;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5em;
}

.subtitle {
	padding-top: 2em;
	padding-left: 1.2em;
	color: #666;
	font-weight: 100;
	font-size: 25px;
}

a {
	color: #4171cd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h3 {
	padding-top: 2em;
	padding-left: 1.5em;
	color: #666;
	font-weight: 100;
	font-size: 20px;
}

#content-view {
	outline: none !important;
	overflow: hidden;
	z-index: 1;
}

.button {
	border: none;
	padding: 0.4em 0.9em 0.4em 0.9em;
	border-radius: 0.2em;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
}

#reference-frame {
	border: 0px;
	width: 100%;
	height: 100vh;
}
