#toc-view {
	overflow-y: auto;
	background-color: #333;
	padding: 15px 30px 15px;
	padding-left: calc(50% - 100px);
}

.logo {
	padding-left: 4px;
	padding-bottom: 5px;
	outline: none;
}

#logos {
	padding-left: 11px;
	white-space: nowrap;
	display: inline-block;
}

#table-of-contents {
	padding-top: 10px;
	padding-inline-start: 0px;
}

.menuitem, 
.submenuitem {
	list-style-type: none;
	color: #aaa;
	line-height: 1.5em;
	padding-left: 15px;
	user-select: none;
}

#menuitem-2,
.submenuitem {
	cursor: pointer;
}

.menuitem {
	padding-top: 1em;
}

#menuitem-2:hover,
.submenuitem:hover {
	color: #fff;
}

.submenuitem-selected {
	color: #fff !important;
}

.submenu {
	padding-inline-start: 0px;
}
