
#content {
	font-family: Roboto;
	margin: auto;
	width: 100%;
	max-width: 800px;
	color: #666;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5em;
}

h1 {
	padding-top: 2em;
	padding-left: 1.2em;
	color: #666;
	font-weight: 100;
	font-size: 25px;
}

h2 {
	padding-top: 2em;
	padding-left: 1.5em;
	color: #666;
	font-weight: 100;
	font-size: 20px;
}

p {
	color: #666;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5em;
	padding-top: .8em;
	padding-left: 2em;
	padding-right: 1em;
}

pre {
	line-height: 1.35em;
	color: #666;
	font-weight: normal;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3em;
	padding-right: 1em;
	overflow: auto;
}

a {
	color: #4171cd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img[src*="example.gif"] {
	max-width: 520px;
	width: 100%;
}