table {
	margin-left: 3em;
	border-collapse: collapse;
	font-size: 13px;
}

th, td {
	text-align: center;
	border: 1px solid #e0e0e0;
	padding: 0.1em 1em 0.1em;
}

th {
	font-weight: 400;
	font-size: 14px;
	color: #999;
}

#page-0 {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#content {
	padding: 0px 1px 50px 1px;
	max-width: 650px;
	width: calc(100% - 500px);
}

#vizzu-view {
	width: 500px;
	height: 0px;
	overflow: none;
	display: block;
	position: relative;
	left: min(660px, 100% - 500px + 10px);
}

@media screen and (max-width: 1200px) {

#content {
	width: 100%;
}
	
#vizzu-view {
	width: 100%;
	height: 260px;
	overflow: none;
	display: block;
	position: sticky;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #fff;
	filter: drop-shadow(0 2px 4px #e0dcda);
}

#vizzu-canvas {
	filter: none !important;
}

}

.snippet {
	line-height: 1.35em;
	color: #666;
	font-weight: normal;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3em;
	padding-right: 1em;
	overflow-x: auto;
}

.runable {
	background-color: #fafafa;
	cursor: pointer;
	border-right: 6px solid #e0e0e0;
}

.runable:hover {
	border-right-color: #a0a0c0 !important;
	background-color: #fafafc !important;
	transition: 0.1s;
}

.runable:focus {
	outline: 0px;
	border-right-color: #4171cd !important;
	background-color: #fff !important;
	transition: 0.2s;
	filter: drop-shadow(0 2px 4px #e0dcda);
}

.runable:hover:before {
	content: 'PLAY';
	color: #a0a0c0;
	font-size: 10px;
	float: right;
	vertical-align: center;
}

.runable:hover:focus:before {
	content: 'REPLAY';
	color: #4171cd;
	font-size: 10px;
	float: right;
}

.paragraph {
	color: #666;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5em;
	padding-top: .8em;
	padding-left: 2em;
	padding-right: 1em;
}

#vizzu-canvas {
	width: 480px;
	height: 260px;
	background-color: #fff;
	z-index: 100;
	filter: drop-shadow(0 2px 4px #e0dcda);
}

.vizzu-canvas-rewind {
	filter: drop-shadow(0 2px 4px #e0dcda) grayscale(60%) opacity(50%) !important;
	transition: 200ms;
}
